.container{
    padding: 3rem 4rem; 
    background-color: #293942;
}

.innerWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}

@media screen and (max-width: 1056px) {
    .innerWrapper{
        justify-content: space-around;
    }
}

@media screen and (max-width: 700px) {
    .container{
        padding: 2rem;
    }
}

@media screen and (max-width: 416px) {
    .innerWrapper>div{
        display: flex;
        justify-content: center;
    }
}